.sidenav{
    position: fixed;
    background-color: #3f51b5;
    margin: 64px 0px;
    width: 200px;
}

.sidenav a{
    color: #fff;
}

.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
    color: black;
}
